---
Checks: "*,-bugprone-sizeof-expression,-hicpp-no-malloc,-llvmlibc-*,-cppcoreguidelines-owning-memory,-cppcoreguidelines-no-malloc,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-readability-implicit-bool-conversion,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-cppcoreguidelines-pro-type-cstyle-cast,-fuchsia-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-non-const-global-variables,-altera-struct-pack-align,-cppcoreguidelines-init-variables,-llvm-include-order,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-hicpp-signed-bitwise,-cppcoreguidelines-pro-bounds-constant-array-index,-cert-err58-cpp"
